# Flutter
.dart_tool/
.packages
.flutter-plugins
.pub-cache/
.pub/
build/
*.so
*.a
*.dll
*.dylib

# Rust
rust/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
gen.log
result
.direnv/
rust/check_output.txt
error.txt
